<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 采购申请记录 -->
<mapper namespace="com.direct.dao.IApplyDao">
	
	<resultMap type="com.direct.entity.ApplyEntity" id="applyMap">
		<id property="aId" column="aId"/><!-- 主键 -->
		<result property="amountMoney" column="amountMoney"/><!-- 申请金额 -->
		<result property="actualMoney" column="actualMoney"/><!-- 实际支出 -->
		<result property="repaymentMoney" column="repaymentMoney"/><!-- 还款金额 -->
		<result property="applicationtime" column="applicationtime"/><!-- 申请时间 -->
		<result property="remark" column="remark"/><!-- 备注 -->
		<result property="state" column="state"/><!-- 状态 -->
		<association property="applicationName" javaType="StaffionEntity"><!-- 申请人 -->
			<id column="sId" property="sId"/><!-- 主键 -->
			<result column="sName" property="sName"/>
			<result column="sIP" property="sIP"/>
			<result column="sPassword" property="sPassword"/>
			<result column="sSex" property="sSex"/>
			<result column="sBirthdate" property="sBirthdate"/>
			<result column="sBasepay" property="sBasepay"/>
			<result column="sSocial" property="sSocial"/>
			<result column="sEntrytime" property="sEntrytime"/>
			<result column="sDeparturetiome" property="sDeparturetiome"/>
			<result column="sZZ" property="sZZ"/>
			<result column="sZT" property="sZT"/>
		</association>
		<association property="auditorName" javaType="StaffionEntity"><!-- 审核人 -->
			<id column="sId" property="sId"/><!-- 主键 -->
			<result column="sName" property="sName"/>
			<result column="sIP" property="sIP"/>
			<result column="sPassword" property="sPassword"/>
			<result column="sSex" property="sSex"/>
			<result column="sBirthdate" property="sBirthdate"/>
			<result column="sBasepay" property="sBasepay"/>
			<result column="sSocial" property="sSocial"/>
			<result column="sEntrytime" property="sEntrytime"/>
			<result column="sDeparturetiome" property="sDeparturetiome"/>
			<result column="sZZ" property="sZZ"/>
			<result column="sZT" property="sZT"/>
		</association>
	</resultMap>
	
	<!-- 分页查询 -->


	<!-- <select id="selectApply" resultType="applyMap">

	<select id="selectApplyInfo" resultMap="applyInfoMap">

	<select id="selectApplyInfo" resultMap="applyMap">


		
	</select>
	 -->
	<!-- 添加申请 -->
	<insert id="insertApplyInfo" parameterType="ApplyEntity">
		insert into apply(applicationName,amountMoney,actualMoney,repaymentMoney,applicationtime,remark,state,auditorName) value(#{applicationName.sId},#{amountMoney},#{actualMoney},#{repaymentMoney},#{applicationtime},#{remark},#{state},#{auditorName.sId},)
	</insert>
	
</mapper>