<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <!-- 车辆销售-->
<mapper namespace="com.direct.dao.CarSaleInfoDao">
 	<resultMap type="com.direct.entity.CarSaleInfo" id="incar">
 		<id property="id" column="id"/><!-- 主键：编号 --><!--  -->
		<result property="dealTime" column="dealTime"/><!-- 普通字段：成交时间 -->
		<result property="advance" column="advance"/><!--  预收-->
		<result property="netReceipts" column="netReceipts"/><!--  实收-->
		<result property="receivable" column="receivable"/><!--  应收-->
		<result property="cusId" column="cusId"/> <!--  购买客户（客户实体）-->
		<!-- 销售人员（员工实体） -->
		<association property="staId" javaType="StaffionEntity">
			<id column="sId" property="sId"/><!-- 主键 -->
			<result column="sName" property="sName"/>
			<result column="sIP" property="sIP"/>
			<result column="sPassword" property="sPassword"/>
			<result column="sSex" property="sSex"/>
			<result column="sBirthdate" property="sBirthdate"/>
			<result column="sBasepay" property="sBasepay"/>
			<result column="sSocial" property="sSocial"/>
			<result column="sEntrytime" property="sEntrytime"/>
			<result column="sDeparturetiome" property="sDeparturetiome"/>
			<result column="sZZ" property="sZZ"/>
			<result column="sZT" property="sZT"/>
		</association>

		<!--  车辆（车辆实体）-->
		<association property="carId" javaType="CarInfo">
				<id column="id" property="id"/><!-- 主键 -->
			<result column="name" property="name"/><!-- 普通字段 -->
			<result column="money" property="money"/><!-- 普通字段 -->
			<result column="manufacturer" property="manufacturer"/><!-- 普通字段 -->
			<result column="level" property="level"/><!-- 普通字段 -->
			<result column="energyType" property="energyType"/><!-- 普通字段 -->
			<result column="timeToMarket" property="timeToMarket"/><!-- 普通字段 -->
			<result column="maximumPower" property="maximumPower"/><!-- 普通字段 -->
			<result column="maximumTorque" property="maximumTorque"/><!-- 普通字段 -->
			<result column="engine" property="engine"/><!-- 普通字段 -->
			<result column="transmissionCase" property="transmissionCase"/><!-- 普通字段 -->
			<result column="lengthWidthHeight" property="lengthWidthHeight"/><!-- 普通字段 -->
			<result column="bodyStructure" property="bodyStructure"/><!-- 普通字段 -->
			<result column="maximumSpeed" property="maximumSpeed"/><!-- 普通字段 -->
			<result column="official0100kmHAccelerationS" property="official0100kmHAccelerationS"/><!-- 普通字段 -->
			<result column="normoL0100kmHAccelerationS" property="normoL0100kmHAccelerationS"/><!-- 普通字段 -->
			<result column="measured1000kmhBrakingM" property="measured1000kmhBrakingM"/><!-- 普通字段 -->
			<result column="integratedFuelConsumptionOfMinistryOfIndustryAndInformat" property="integratedFuelConsumptionOfMinistryOfIndustryAndInformat"/><!-- 普通字段 -->
			<result column="measuredFuelConsumptionL100km" property="measuredFuelConsumptionL100km"/><!-- 普通字段 -->
			<result column="qualityAssurance" property="qualityAssurance"/><!-- 普通字段 -->
			<result column="mainCoPilotSeatAirbag" property="mainCoPilotSeatAirbag"/><!-- 普通字段 -->
			<result column="anteriorPosteriorLateralBalloon" property="anteriorPosteriorLateralBalloon"/><!-- 普通字段 -->
			<result column="frontRearHeadBalloonAirCurtain" property="frontRearHeadBalloonAirCurtain"/><!-- 普通字段 -->
			<result column="kneeAirbag" property="kneeAirbag"/><!-- 普通字段 -->
			<result column="rearSeatBeltAirbag" property="rearSeatBeltAirbag"/><!-- 普通字段 -->
			<result column="rearRowCentralAirbag" property="rearRowCentralAirbag"/><!-- 普通字段 -->
			<result column="passivePedestrianProtection" property="passivePedestrianProtection"/><!-- 普通字段 -->
			<result column="tirePressureMonitoringFunction" property="tirePressureMonitoringFunction"/><!-- 普通字段 -->
			<result column="zeroTirePressureToContinueDriving" property="zeroTirePressureToContinueDriving"/><!-- 普通字段 -->
			<result column="unfastenedSeatBeltReminder" property="unfastenedSeatBeltReminder"/><!-- 普通字段 -->
			<result column="iSOFIXChildSeatInterface" property="iSOFIXChildSeatInterface"/><!-- 普通字段 -->
			<result column="aBSAntiLockBraking" property="aBSAntiLockBraking"/><!-- 普通字段 -->
			<result column="brakingForceDistributionEbdCbcEtc" property="brakingForceDistributionEbdCbcEtc"/><!-- 普通字段 -->
			<result column="brakeAssistanceEbaBasBaEtc" property="brakeAssistanceEbaBasBaEtc"/><!-- 普通字段 -->
			<result column="tractionControlAsrTcsTrcEtc" property="tractionControlAsrTcsTrcEtc"/><!-- 普通字段 -->
			<result column="bodyStabilityControlEscEspDscEtc" property="bodyStabilityControlEscEspDscEtc"/><!-- 普通字段 -->
			<result column="doublingAssistance" property="doublingAssistance"/><!-- 普通字段 -->
			<result column="ldws" property="ldws"/><!-- 普通字段 -->
			<result column="laneMaintenanceAssistanceSystem" property="laneMaintenanceAssistanceSystem"/><!-- 普通字段 -->
			<result column="roadTrafficSignRecognition" property="roadTrafficSignRecognition"/><!-- 普通字段 -->
			<result column="activeBrakeActiveSafetySystem" property="activeBrakeActiveSafetySystem"/><!-- 普通字段 -->
			<result column="nightVisionSystem" property="nightVisionSystem"/><!-- 普通字段 -->
			<result column="tipsforFatigueDriving" property="tipsforFatigueDriving"/><!-- 普通字段 -->
			<result column="number" property="number"/><!-- 普通字段 -->
		</association>	
 	</resultMap>
 	
 	<!-- 销售车辆 -->
 	<insert id="insertCar" parameterType="CarSaleInfo">
 	insert into carsale(dealTime,staId,carId,advance,netReceipts,receivable,cusId) VALUES(#{dealTime},#{staId.sId},#{carId.id},#{advance},#{netReceipts},#{receivable},#{cusId})
 	
 	</insert>
 
 </mapper>   